/********************************************************************* CSS VARIABLES *********************************************************************/ 
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

  --main-bg-color : #80461F;
  --secondary-bg-color : #181851;
  --third-color : #F9D023;
  --button-color: #0055FF;
  --box-shadow: #e1e1e1 0px 1px 0px, #e1e1e1 0px 4px 16px, #e1e1e1 0px 8px 16px;
  --font-title : "Pompiere", sans-serif;
  --font-text : "Roboto", sans-serif;
}


/********************************************************************* BASIC CSS *********************************************************************/ 
.mobile {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: white;
  overflow-x: hidden;
  font-size: 1rem;
  font-family: var(--font-text);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
 
}

h1, h2 {
  font-family: var(--font-title);
}

a {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}

li {
  list-style: none;
}

section {
  padding: 2rem 0;
}

.no_button {
  background-color: transparent;
  border: none;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.container {
  position: relative;
}

.button_style {
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-right: 20px;
  box-shadow: none;
  background-color: var(--secondary-bg-color);
  border: var(--secondary-bg-color) 1px solid;
  margin-top: 20px;
  padding: 13px 20px;
  font-size: 1rem;
  font-weight: 100;
}

.margin1r0 {
  margin: 1rem 0;
}
.margin0r1r {
  margin: 0 1rem;
}

.white {
  background-color: white;
  color: black;
}

.white * {
  background-color: transparent;
  color: black;
}
/********************************************************************* HEADER *********************************************************************/ 
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 0;
  background-color: transparent;
}
.navbar {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: fit-content;
  padding: 0 ;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 2;
}

.navbar > * {
  padding:  0 10px;
  background-color: transparent;
  font-family: var(--font-title);
  text-transform: uppercase;
  color: white;
  font-size: 1.25rem;
}
.logo {
  background-color: white !important;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: transparent;
}
h3 {
  font-family: var(--font-title);
  padding: 20px 0;
  font-size: 4rem;
}
/********************************************************************* FOOTER ALL *********************************************************************/ 
.all_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all_footer section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.all_footer section div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all_footer section div:last-child {
  flex-direction: column;
  margin: 30px 0 0;
  width: 100%;
}

.all_footer img {
  margin: 10px;
}

.all_footer .main_footer {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.all_footer .main_footer > * {
  width: 50%;
  flex-direction: column;
}

.all_footer .main_footer > div > div {
  width: 50%;
  flex-direction: row;
  justify-content: flex-start;
}

.all_footer .main_footer > div:last-of-type {
  align-items: flex-end;
  padding-right: 40px;
}

.all_footer .main_footer > div:last-of-type div {
  justify-content: flex-end;
}
.all_footer .main_footer > div:last-of-type p {
  text-align: right;
}
.all_footer h5 {
  font-family: var(--font-title);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.all_footer p {
  width: 40%;
  text-align: center;
}

.all_footer a {
  color: var(--third-color);
}

.all_footer img {
  height: 60px;

}

.all_footer .social img {
  width: 2rem;
  background-color: transparent;
  height: auto;
}
.footer_avis {
  width: 100vw;
  padding: 20px;
}

.footer_avis h3 {
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
}

.footer_avis * {
  overflow: visible;
}

.all_footer .footer_avis p , .all_footer .footer_avis h5 {
  text-align: left;
  width: 100%;
  padding: 0;
}

.all_footer .footer_avis .avisGoogle {
  background-color: beige;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 20px 20px 0;
}

.avisGoogle * {
  background-color: transparent;
  color: black;
}

.footer_avis .alice-carousel__stage-item {
  vertical-align: top;
}
/********************************************************************* HOME *********************************************************************/ 
.home_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
}

.home_top video {
  width: 100vw;
  max-height: 1100vh;
  object-fit: cover;
}

.veil {
  position: absolute;
  top: 0;
  background-color: rgb(37, 34, 34);
   width: 100%;
   height: 100%;
   opacity: 40%;
}

.home_top article {
position: absolute;
top: 30%;
left: 60px;
background-color: transparent;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

.home_top article * {
  background-color: transparent;
  color: white;
}

.home_top article h1 {
  font-size: 10rem;
  text-transform: uppercase;
  padding: 20px 0 0;
  margin: 0;
}

.home_top article h2 {
  font-size: 3rem;
  padding: 0 5px  ;
  font-weight: 100;
}

.home_top article button {
  margin-right: 20px;
  box-shadow: none;
  background-color: var(--main-bg-color);
  border: var(--secondary-bg-color) 1px solid;
  margin-top: 40px;
  border: none;
  padding: 13px 20px;
  font-size: 1.1rem;
  font-weight: 100;
}
.home_top article div button.but2 {
  background-color: transparent;
  border: white 1px solid;
}

.home_gite {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
}

.home_gite div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_gite div > * {
  width: 50%;
}

.home_gite div article {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.home_gite div img {
max-width: 80vh;
}
.home_gite p {
  margin: 15px 0 10px;
}
.home_banniere {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 150px;
  
}

.home_banniere div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}

.home_banniere img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  margin-bottom: 15px;
}
.home_banniere h5 {
  color: var(--third-color);
  margin-top: 20px;
  font-size: 1.25rem;
  font-family: var(--font-title);
  text-transform: uppercase;
}
.home_banniere p {
  color: white;
  font-weight: 100;
  text-align: center;
  padding: 10px 40px;
  font-weight: 100;
}

.home_first_carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_first_carousel h3 {
  text-align: center;
  margin-bottom: 60px;
}


.home_first_carousel, .home_first_carousel * {
  overflow: visible;
}


.home_first_carousel img {
  width: 30vw;
  height: 60vh;
  object-fit: cover;
  overflow: hidden;
}

.chevron {
  width: 50px !important;
  height: 50px !important;
  object-fit: contain;
  cursor: pointer;
  margin-top: 30px;
}

.chevron.gauche {
  transform: rotate(-180deg);
}
.home_formules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_formules > p {
  width: 35%;
  text-align: center;
}
.home_formules section {
  display: flex;

  justify-content: center;
  align-items: stretch;
}

.home_formules h4 {
  text-transform: uppercase;
  font-family: var(--font-title);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  max-width: 70%;
}
.home_formules div {
  width: 30vw;
  height: 30vw !important;
  height: auto;
  margin: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 0.3rem;
  position: relative;
  overflow: hidden;
}

.home_formules div * {
  z-index: 2;
  background-color: transparent;
  overflow: hidden;
  text-align: center;
}

.home_formules div img {
  width: 100%;
  opacity: 40%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.home_formules div button {
  background-color: var(--main-bg-color);
  border: none;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor: pointer;
}

.home_aussi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}


.home_aussi section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_aussi section div {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0px 15vw;
}

.home_aussi section div:nth-child(2n) {
  flex-direction: row-reverse;
}

.home_aussi section div article {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  background-color: var(--main-bg-color);
  color: white ;
}

.home_aussi article * {
  color: white;
}

.home_aussi section div img {
  width: 50%;
}

.home_aussi h4 {
  text-transform: uppercase;
  font-family: var(--font-title);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home_aussi a {
  margin-top: 15px;
  font-size: 0.85rem;
  font-weight: 100;
  cursor: pointer;
}

 a:hover {
  color: var(--third-color) !important;
}

.button_style:hover {
  color: var(--third-color);
}

.home_trouver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0;
}
.home_trouver > p {
width: 25%;
text-align: center;
}

.home_trouver iframe {
  width: 100%;
  min-height: 70vh;
  margin-top: 40px;
}

/********************************************************************* BOUTIQUE *********************************************************************/ 
.all_main {
padding-top: 80px;
}

.boutique_produits_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.boutique_produits_section > p {
  max-width: 30%;
  text-align: center;
  margin-bottom: 40px;
}

.boutique_produits_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  padding: 20px 10vw;
}

.boutique_produit {
  width: 25vw;
  height: auto;
  margin: 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boutique_produit img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.boutique_produit h5 {
 padding: 10px auto;
 font-family: var(--font-title);
 font-size: 1.3rem;
 font-weight: bold;
}
.boutique_produit p {
  margin: 5px 0 10px;
}

.boutique_produit small {
  font-weight: bold;
  font-size: 0.9rem;
}
.boutique_produit .marron {
  color: var(--main-bg-color);
}

.boutique_produit .blue {
  color: var(--secondary-bg-color);
}